.bash_profile 
.cache
.git
.gitconfig
.local
.vim
.conda
.lesshst
.parallel
.python_history
.viminfo
.bash_history
.config
.pki
.ssh
.vimrc
.bashrc
.DS_Store
test*
*.swp
pout.0
*.o[0-9][0-9][0-9][0-9][0-9][0-9][0-9]
__pycache__
