#!/bin/bash/
module load bisicles/gia
module switch intel gnu
module load anaconda
source activate ismip6_ocean_forcing
python @BFI
NCTOAMR=$BISICLES_HOME/BISICLES/BISICLES/code/filetools/nctoamr2d.Linux.*
if [ ! -f "smb.hdf5" ] ; then
    python @INITSMB
    #convert initial smb file to hdf5
    $NCTOAMR smb.nc smb.hdf5 smb
    $NCTOAMR Cthird_elev_coupled.nc Cthird_elev_coupled.hdf5 Cthird
fi
conda deactivate
qsub @JOB
